<mat-expansion-panel [hideToggle]="true">
  <mat-expansion-panel-header>
    <div class="route-header">
      <img [src]="userInfo.photoURL|nullImgUrl" [alt]="userInfo.fullName" class="profile-pic">
      <div class="route-info">
        <div class="left-info">
          <table hidden>
            <tbody>
              <tr>
                <td>Saliendo:</td>
                <td>{{data.data.exit}}</td>
              </tr>
              <tr>
                <td>Para:</td>
                <td>{{data.data.destination}}</td>
              </tr>
            </tbody>
          </table>
          <div class="from"><span>Saliendo:</span> {{data.data.exit}}</div>
          <div class="to"><span>Para:</span> {{data.data.destination}}</div>
        </div>
        <div class="people">
          0
          <i class="material-icons">people</i>
        </div>
      </div>
    </div>
  </mat-expansion-panel-header>
  <div class="route-content">
    <h3 class="title yellow"><i class="material-icons">av_timer</i><small>{{data.data.departure_time.seconds * 1000 | date: 'yyyy/MM/dd h:mm a'}}</small></h3>
    <h3 class="title green"><i class="material-icons">trending_up</i> Ruta</h3>
    <mat-chip-list #chipList>
      <ol>
        <li *ngFor="let path of data.data.paths; let j=index">
          <mat-chip color="primary">
            {{path}}
          </mat-chip>    
        </li>
      </ol>
    </mat-chip-list>
  </div>
  <div class="route-actions">
      <button mat-raised-button color="primary">Editar</button>
      <button mat-raised-button color="warn">Eliminar</button>
  </div>
</mat-expansion-panel>
