@import '../../../../sass/mixin';
@import '../../../../sass/variables';

.route-header {
  @include align-items(center);
  @include flex();
  padding-right: 30px;
  width: 100%;
  .profile-pic {
    @include border-radius(50%);
    width: 36px;
  }
  .route-info {
    @include align-items(center);
    @include flex(); 
    @include justify-content(space-between);
    padding-left: 15px;
    width: 100%;
    .left-info {
      font-size: 12px;
      .from, .to {
        span {
          color: $accent;
          font-weight: bold;
        }
      }
      .to {
        margin-top: 4px;
        span {
          color: #bd0000;
        }
      }
    }
    .people {
      @include align-items(center);
      @include flex(); 
      @include justify-content(center);
      position: relative;
      .material-icons {
        color: $accent;
        margin-left: 5px;
      }
    }
  }
}

.expansion-container {
  position: relative;
  .time-remain {
    @include align-items(center);
    background-color: #ffb900;
    border: {
      bottom-right-radius: 4px;
      top-right-radius: 4px;
    }
    color: white;
    @include flex(); 
    height: 100%;
    @include justify-content(center);
    position: absolute;
    right: 0;
    width: 48px;
  }
}

.route-content {
  .capitalize {
    text-transform: capitalize;
  }
  .title {
    margin-bottom: 0;
    .material-icons {
      vertical-align: middle;
    }
    small {
      color: gray;
      font-weight: normal;
    }
  }
  .green {
    color: #008400;
  }
  .yellow {
    color: #ab8700;
    .material-icons {
      margin-right: 4px;
    }
  }
  ol {
    padding-left: 20px;
  }
}

.route-actions {
  margin-top: 10px;
  button {
    margin: 3px 0;
    width: 85%;
  }
}

.make-full-width {
  button {
    width: 100%;
  }
}

.remove-right-padding {
  padding-right: 0;
}