@import '../../../../sass/mixin';
@import '../../../../sass/variables';

.content {
  min-height: calc(100vh - 56px);
  width: 100%;
  .card {
    width: 100%;
    .title {
      font-size: 25px;
      margin-bottom: 20px;
      text-align: center;
    }
    .accordion {
      width: 100%;
    }
  }
}