<mat-card>
  <mat-card-header *ngIf="isOwner">
    <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': 'url(' + userData.userData.photoURL + ')'}"></div>
    <mat-card-title>{{userData.userData.fullName}}</mat-card-title>
    <mat-card-subtitle>{{userData.userData.faculty}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-header *ngIf="ownerData && !isOwner">
    <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': 'url(' + ownerData.photoURL + ')'}"></div>
    <mat-card-title>{{ownerData.fullName}}</mat-card-title>
    <mat-card-subtitle>{{ownerData.faculty}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="content" *ngIf="routeData">
      <button mat-raised-button *ngIf="isOwner && routeData && !routeData.started" class="full-width green-button" (click)="startTrip()" [disabled]="requestSent">
        <span *ngIf="!requestSent">Iniciar Viaje</span>
        <app-loading-icon *ngIf="requestSent" color="white"></app-loading-icon>
      </button>
      <button mat-raised-button *ngIf="isOwner && routeData && routeData.started && routeData.members && !routeData.members[userData.uid].arrived" class="full-width green-button" (click)="haveArrived()" [disabled]="requestSent">He Llegado</button>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Acerca del líder
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ol>
            <li>
              Experiencia con bici: <b>{{getOwnerData().preferences.experience}}</b>
            </li>
            <li>
              ¿Tiene kit de primeros auxilios?: <b>{{getOwnerData().preferences.medkit ? 'Sí' : 'No'}}</b>
            </li>
            <li>
              ¿Sabe o puede despinchar?: <b>{{getOwnerData().preferences.punch_out ? 'Sí' : 'No'}}</b>
            </li>
            <li>
              En cuento a velocidad prefiere ir: <b>{{getOwnerData().preferences.speed}}</b>
            </li>
            <li>
              Entre Cicloruta y Calzada preferiere: <b>{{getOwnerData().preferences.road_preference}}</b>
            </li>
          </ol>          
        </mat-expansion-panel>
        <mat-expansion-panel #members_panel_ref>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Miembros ({{ !routeData.started ? membersData.length : getObjectMembers().length }}) &nbsp; <app-loading-icon *ngIf="gettingMembers" fontSize="18px"></app-loading-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="members">
            <ol *ngIf="!routeData.started">
              <li *ngFor="let member of membersData; let i=index">
                <div class="member-content">
                  <img [src]="member.data.photoURL" [alt]="member.data.fullName" class="profile-pic">
                  <div class="personal-data">
                    <div class="name">{{member.data.fullName}}</div>
                    <div class="faculty">{{member.data.faculty}}</div>
                  </div>
                </div>
              </li>
            </ol>
            <ol *ngIf="routeData.started">
              <li *ngFor="let member of getObjectMembers(); let i=index">
                <div class="member-content">
                  <img [src]="member.photoURL" [alt]="member.fullName" class="profile-pic">
                  <div class="personal-data">
                    <div class="name">{{member.fullName}}</div>
                    <div class="faculty">{{member.faculty}} <span *ngIf="member.leader">- Es el líder</span> </div>
                    <div class="has-arrived" [ngClass]="{'arrived': member.arrived, 'non-arrived': !member.arrived}">
                      <span *ngIf="!member.arrived">No ha llegado</span>
                      <span *ngIf="member.arrived">Llegó</span>
                    </div>
                  </div>
                </div>
              </li>
            </ol>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="route-content" *ngIf="!isOwner">
        <h3 class="title blue"><b>Saliendo: </b> <span>{{routeData.exit}}</span></h3>
        <h3 class="title red"><b>Para: </b> <span>{{routeData.destination}}</span></h3>
        <h3 class="title yellow">
          <i class="material-icons">av_timer</i>
          <small *ngIf="remainTimeText().time.charAt(0) != '-'">
            {{remainTimeText().day || (routeData.departure_time.seconds * 1000 | date: 'yyyy/MM/dd')}} {{routeData.departure_time.seconds * 1000 | date: 'h:mm a'}} - Faltan {{remainTimeText().time}}
          </small>
          <small *ngIf="remainTimeText().time.charAt(0) == '-'">
            {{routeData.departure_time.seconds * 1000 | date: 'yyyy/MM/dd h:mm a'}}
          </small>
        </h3>
        <h3 class="title green"><i class="material-icons">trending_up</i> Ruta</h3>
        <mat-chip-list #chipList>
          <ol>
            <li *ngFor="let path of routeData.paths; let j=index">
              <mat-chip color="primary"class="capitalize">
                {{path}}
              </mat-chip>    
            </li>
          </ol>
        </mat-chip-list>
      </div>
      <form [formGroup]="routeForm" *ngIf="routeForm && isOwner">
        <ol>
          <li>
            <div class="form-control">
              <mat-form-field class="full-width">
                <mat-select placeholder="Salida" formControlName="exit">
                  <mat-option *ngFor="let option of sdService.exitPreference" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </li>
          <li>
            <div class="form-control">
              <mat-form-field class="full-width">
                <mat-select placeholder="Destino" formControlName="destination">
                  <mat-option *ngFor="let option of sdService.locations" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </li>
          <li>
            <div class="form-control">
              <label>Fecha y Hora de Salida</label>
              <div class="date-time">
                <mat-form-field class="half-width">
                  <input matInput [matDatepicker]="picker" placeholder="Fecha" [formControl]="dateControl">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="half-width">
                  <input type="time" matInput placeholder="Hora" atp-time-picker [formControl]="timeControl">
                  <mat-icon matSuffix>av_timer</mat-icon>
                </mat-form-field>
              </div>
            </div>
          </li>
          <li>
            <mat-form-field class="full-width">
              <mat-chip-list #chipList>
                <mat-chip 
                  *ngFor="let path of route; let j=index" 
                  [selectable]="selectable"
                  [removable]="true" 
                  (removed)="remove(j)"
                  color="primary"
                  [class.red-chip]="validateRoute()===j">
                  {{path}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input 
                  placeholder="Tu ruta"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="true"
                  (matChipInputTokenEnd)="add($event,j)">
              </mat-chip-list>
            </mat-form-field>
            <div class="error" *ngIf="validateRoute()!=-1">
              Hay un error en tu ruta
            </div>
          </li>
        </ol>
        <button mat-raised-button *ngIf="!routeData.started" color="primary" class="full-width" [disabled]="!isFormValid()" (click)="updateRoute()">
          <span *ngIf="!requestSent">Guardar Cambios</span>
          <app-loading-icon *ngIf="requestSent" color="white"></app-loading-icon>
        </button>
      </form>
      <div class="messages" *ngIf="!routeData.started">
        <h3 class="title">Chat ({{messages.data.messages.length}} mensajes) <app-loading-icon *ngIf="gettingMessages" color="#3f51b5" fontSize="18px"></app-loading-icon></h3>
        <div class="messages-container" #messages_container_ref>
          <div class="message-container" *ngFor="let msgData of messages.data.messages" [ngClass]="{'align-right': msgData.owner.id === userData.uid}">
            <div class="message" [ngClass]="{'mine': msgData.owner.id === userData.uid}">
              <div class="header">
                <img [src]="msgData.owner.photoURL" [alt]="msgData.owner.name" class="profile-pic">
                <span class="name">{{msgData.owner.name}}</span>
              </div>
              <div class="msg-content">
                {{msgData.msg}}
              </div>
            </div>
          </div>
        </div>
        <div class="input-container">
          <mat-form-field class="full-width">
            <input matInput placeholder="Pregunta algo..." #msg_input [readonly]="sendingMessage">
            <mat-icon matSuffix class="send-button" (click)="sendMessage(msg_input)">
              <span *ngIf="!sendingMessage">send</span>
              <span *ngIf="sendingMessage"><app-loading-icon color="#3f51b5" fontSize="18px"></app-loading-icon></span>
            </mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="userData">
      <button mat-raised-button color="warn" *ngIf="isOwner && !routeData.started" class="full-width" (click)="deleteRoute()" [disabled]="requestSent">
        <span *ngIf="!requestSent">Eliminar Ruta</span>
        <app-loading-icon *ngIf="requestSent" color="white"></app-loading-icon>
      </button>
      <button mat-raised-button [color]="subscribedToThisRoute() ? 'warn' : 'primary'" class="full-width" *ngIf="!isOwner && routeData && !routeData.started" (click)="joinRoute()" [disabled]="requestSent">
        <span *ngIf="!subscribedToThisRoute() && !requestSent">Unirse</span>
        <span *ngIf="subscribedToThisRoute() && !requestSent">Abandonar</span>
        <app-loading-icon *ngIf="requestSent" color="white"></app-loading-icon>
      </button>
  </mat-card-actions>
</mat-card>