@import '../../../../sass/mixin';
@import '../../../../sass/variables';

.header-image {
  background-size: cover;
}

.content {
  .capitalize {
    text-transform: capitalize;
  }
  .title {
    margin-bottom: 0;
    .material-icons {
      vertical-align: middle;
    }
    small {
      color: gray;
      font-weight: normal;
    }
  }
  .green {
    color: #008400;
  }
  .red {
    color: #bd0000;
    span {
      color: black;
    }
  }
  .blue {
    color: $accent;
    span {
      color: black;
    }
  }
  .yellow {
    color: #ab8700;
    .material-icons {
      margin-right: 4px;
    }
  }
  ol {
    padding-left: 20px;
  }
  .route-content {
    ol {
      padding-left: 40px;
    }
  }
}

.full-width {
  width: 100%;
}

.form-control {
  label {
    display: block;
    margin-bottom: 4px;
  }
  .mat-radio {
    margin-right: 20px;
  }
  .date-time {
    @include align-items(center);
    @include flex();
    @include justify-content(center);
    .half-width {
      margin-right: 15px;
      width: 45%;
    }
  }
}

.members {
  .member-content {
    @include align-items(center);
    @include flex();
    .profile-pic {
      @include border-radius(50%);
      margin-right: 10px;
      width: 40px;
    }
    .personal-data {
      .name {
        font-size: 12px;
        font-weight: bold;
      }
      .faculty {
        font-size: 11px;
        margin-left: 10px;
      }
      .has-arrived {
        @include border-radius(4px);
        color: white;
        text-align: center;
      }
      .arrived {
        background-color: #00b500;
      }
      .non-arrived {
        background-color: #ff4848;
      }
    }
  }
}

.messages {
  .title {
    color: $accent;
    margin-bottom: 10px;
  }
  .messages-container {
    @include box-shadow(0 0 12px -3px grey);
    @include border-radius(10px);
    height: 250px;
    padding: 15px 10px;
    overflow-y: auto;
    .message-container {
      @include flex();
      width: 100%;
      .message {
        background-color: gray;
        @include border-radius(20px);
        color: white;
        margin-bottom: 8px;
        padding: 5px 15px 10px;
        text-align: left;
        max-width: 70%;
        .header {
          @include align-items(center);
          @include flex();
          margin-bottom: 5px;
          .profile-pic {
            @include border-radius(50%);
            margin-right: 10px;
            width: 20px;
          }
          .name {
            font-size: 12px;
          }
        }
      }
      .mine {
        background-color: $accent;
        .header {
          @include justify-content(flex-end);
        }
        .msg-content {
          text-align: right;
        }
      }
    }
    .align-right {
      @include justify-content(flex-end);
    }
  }
  .input-container {
    margin-top: 10px;
    .send-button {
      color: $accent;
    }
  }
}

.green-button {
  background-color: #00b500;
  color: white;
  margin-bottom: 10px;
}