<div class="content">
  <mat-card class="profile-header" *ngIf="userData">
    <img [src]="userData.userData.photoURL|nullImgUrl" [alt]="userData.userData.fullName" class="profile-pic">
    <hr>
    <div class="info">
      <div class="name">{{userData.userData.fullName}}</div>
      <div class="faculty">{{userData.userData.faculty}}</div>
      <div>UN</div> 
    </div>
  </mat-card>
  <mat-card class="tabs">
    <mat-tab-group class="tab-group">
      <mat-tab label="Información Personal">
        <form [formGroup]="personalDataForm" *ngIf="personalDataForm">
          <div class="form-control pad">
            <label>Sexo</label>
            <mat-radio-group class="mat-group-mb" formControlName="gender">
              <mat-radio-button class="mat-radio" [value]="0">M</mat-radio-button>
              <mat-radio-button [value]="1">F</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="form-control">
            <mat-form-field class="full-width">
              <mat-select placeholder="Facultad" formControlName="faculty">
                <mat-option *ngFor="let option of sdService.faculties" [value]="option.value">
                  {{option.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" (click)="savePersonalData()" [disabled]="!personalDataForm.valid">Guardar</button>
        </form>
      </mat-tab>
      <mat-tab label="Preferencias">
        <form [formGroup]="preferencesForm" *ngIf="preferencesForm">
          <div class="form-control">
            <mat-form-field class="full-width">
              <mat-select placeholder="¿Experiencia con tu bici?" formControlName="experience">
                <mat-option *ngFor="let option of sdService.levelXp" [value]="option.value">
                  {{option.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-control">
            <mat-form-field class="full-width">
              <mat-select placeholder="¿Qué salida acostumbras a utilizar?" formControlName="exit_preference">
                <mat-option *ngFor="let option of sdService.exitPreference" [value]="option">
                  {{option}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-control">
            <mat-form-field class="full-width">
              <mat-select placeholder="¿Qué tan rápido conduces?" formControlName="speed">
                <mat-option *ngFor="let option of sdService.speedOptions" [value]="option.value">
                  {{option.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-control">
            <mat-form-field class="full-width">
              <mat-select placeholder="¿En qué localidad vives?" formControlName="location">
                <mat-option *ngFor="let option of sdService.locations" [value]="option">
                  {{option}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-control pad">
            <label>¿Llevas contigo un kit de primeros auxilios?</label>
            <mat-radio-group class="mat-group-mb" formControlName="medkit">
              <mat-radio-button class="mat-radio" [value]="true">Sí</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="form-control pad">
            <label>¿Sabes o puedes despinchar?</label>
            <mat-radio-group class="mat-group-mb" formControlName="punch_out">
              <mat-radio-button class="mat-radio" [value]="true">Sí</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="form-control">
            <mat-form-field class="full-width">
              <mat-select placeholder="¿Qué prefieres?" formControlName="road_preference">
                <mat-option *ngFor="let option of sdService.roadPreference" [value]="option">
                  {{option}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" (click)="savePreferences()" [disabled]="!preferencesForm.valid">Guardar</button>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
