@import "../../../../sass/mixin";
@import "../../../../sass/variables";

.content {
  @include flex();
  @include flex-direction(column);
  height: 100vh;
  @include justify-content(space-between);
  width: 80vw;
  .personal-info {
    @include align-items(center);
    @include flex();
    @include justify-content(space-around);
    margin: 15px 0 0;
    width: 100%;
    img {
      @include border-radius(50%);
      width: 70px;
    }
    span {
      font-size: 4vw;
    }
  }
  ul {
    padding: 0;
    li {
      @include align-items(center);
      @include flex();
      height: 50px;
      @include justify-content(flex-start);
      padding-left: 30px;
      .material-icons {
        margin-right: 20px;
      }
      span {
        font-size: 20px;  
      }
    }
  }
  .logout {
    margin: 0 auto 15px;
    width: 150px;
  }
}
