<div class="content">
  <div class="top-wrapper">
    <div class="personal-info-container" *ngIf="userData">
      <div class="personal-info" *ngIf="userData.userData">
        <img [src]="userData.userData.photoURL|nullImgUrl" [alt]="userData.userData.displayName">
        <div class="name">{{userData.userData.fullName}}</div>
      </div>
      <hr class="info-divider">
      <div class="stats">
        <app-icon-stat *ngFor="let stat of allStats" [data]="stat">
        </app-icon-stat>
      </div>
      <span class="career">{{userData.userData.faculty||'Universidad Nacional'}}</span>
    </div>
    <ul (click)="emitClose()">
      <li *ngIf="userData && userData.userData.subscription" matRipple [routerLink]="[ '/m', 'ruta', userData.userData.subscription.id ]" class="current-route">
        <i class="material-icons">timeline</i>
        <span>Ruta Activa</span>
      </li>
      <li matRipple routerLink="/m/inicio" routerLinkActive="active-link">
        <i class="material-icons">dashboard</i>
        <span>Únete a una ruta</span>
      </li>
      <li matRipple routerLink="/m/perfil" routerLinkActive="active-link">
        <i class="material-icons">mood</i>
        <span>Perfil</span>
      </li>
      <li matRipple routerLink="/m/crear-ruta" routerLinkActive="active-link">
        <i class="material-icons">trending_up</i>
        <span>Crear ruta</span>
      </li>
      <li matRipple routerLink="/m/mis-rutas" routerLinkActive="active-link">
        <i class="material-icons">directions_bike</i>
        <span>Mis rutas</span>
      </li>
      <li matRipple routerLink="/m/error" routerLinkActive="active-link">
        <i class="material-icons">bug_report</i>
        <span>Reportar un error</span>
      </li>
    </ul>
  </div>
  <div class="interactions">
    <button mat-mini-fab color="primary" (click)="logout()">
      <i class="material-icons">cancel</i>
    </button>
    <div class="version">
      Redbi v{{dataService.version}}
      <div class="beta">BETA</div>
    </div>
    <button mat-mini-fab color="primary" (click)="emitClose()">
      <i class="material-icons">arrow_back</i>
    </button>
  </div>
</div>
