<div class="content">
  <div class="top-wrapper">
    <div class="personal-info-container" *ngIf="userData">
      <div class="personal-info" *ngIf="userData.userData">
        <img [src]="userData.userData.photoURL|nullImgUrl" [alt]="userData.userData.displayName">
        <div class="name">{{userData.userData.fullName}}</div>
      </div>
      <hr class="info-divider">
      <div class="stats">
        <app-icon-stat *ngFor="let stat of allStats" [data]="stat">
        </app-icon-stat>
      </div>
      <span class="career">{{userData.userData.faculty||'Universidad Nacional'}}</span>
    </div>
    <ul>
      <li matRipple routerLink="/m/inicio" routerLinkActive="active-link" (click)="emitClose()">
        <i class="material-icons">dashboard</i>
        <span>Inicio</span>
      </li>
      <li matRipple routerLink="/m/perfil" routerLinkActive="active-link" (click)="emitClose()">
        <i class="material-icons">mood</i>
        <span>Perfil</span>
      </li>
      <li matRipple routerLink="/m/crear-ruta" routerLinkActive="active-link" (click)="emitClose()">
        <i class="material-icons">trending_up</i>
        <span>Crear ruta</span>
      </li>
      <li matRipple routerLink="/m/mis-rutas" routerLinkActive="active-link" (click)="emitClose()">
        <i class="material-icons">directions_bike</i>
        <span>Mis rutas</span>
      </li>
      <li matRipple routerLink="/m/logros" routerLinkActive="active-link" (click)="emitClose()">
        <i class="material-icons">bubble_chart</i>
        <span>Logros</span>
      </li>
    </ul>
  </div>
  <div class="interactions">
    <button mat-mini-fab color="primary" (click)="logout()">
      <i class="material-icons">cancel</i>
    </button>
    <span>Redbi v1.0.0</span>
    <button mat-mini-fab color="primary" (click)="emitClose()">
      <i class="material-icons">arrow_back</i>
    </button>
  </div>
</div>
