<div class="content">
  <mat-card class="login-card animated fadeInDown">
      <mat-card-header>
        <div class="login">
          LOGIN
        </div>
      </mat-card-header>
      <mat-card-content>
        <img src="assets/images/login/bike-logo.jpeg" alt="Universidad Nacional" class="un-logo">
        <p class="intro">
          Bienvenido a Redbi, el lugar donde podrás organizar viajes grupales con un simple click.
        </p>
        <p class="info">
            Para continuar debes iniciar sesión con tu cuenta UNAL.
          </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="signIn()">ENTRAR</button>
      </mat-card-actions>
    </mat-card>
</div>
