<div class="content">
  <mat-card class="login-card animated fadeIn fast">
    <mat-card-header>
      <div class="login">
          <img src="assets/images/sidenav/3x/logo.png" alt="Redbi" class="un-logo">
      </div>
    </mat-card-header>
    <mat-card-content>
      <p class="intro">
        Bienvenido a Redbi, el lugar donde podrás organizar viajes grupales en bici con un simple click.
      </p>
      <p class="info">
        <span *ngIf="!wrongDomain">
          Para continuar debes iniciar sesión con tu cuenta UNAL.
        </span>
        <span *ngIf="wrongDomain" class="red-msg">
          La cuenta con la que iniciaste sesión no pertenece al dominio UNAL.
        </span>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="signIn()" #signin_ref>ENTRAR</button>
    </mat-card-actions>
  </mat-card>
</div>
