<div class="content">
  <mat-card class="login-card animated fadeIn fast">
    <mat-card-header>
      <div class="login">
        LOGIN
      </div>
    </mat-card-header>
    <mat-card-content>
      <img src="assets/images/login/bike-logo.jpeg" alt="Universidad Nacional" class="un-logo">
      <p class="intro">
        Bienvenido a Redbi, el lugar donde podrás organizar viajes grupales con un simple click.
      </p>
      <p class="info">
        <span *ngIf="!wrongDomain">
          Para continuar debes iniciar sesión con tu cuenta UNAL.
        </span>
        <span *ngIf="wrongDomain" class="red-msg">
          La cuenta con la que iniciaste sesión no pertenece al dominio UNAL.
        </span>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="signIn()" #signin_ref>ENTRAR</button>
    </mat-card-actions>
  </mat-card>
</div>
