@import '../../../../sass/variables';
@import '../../../../sass/mixin';

.content {
  @include align-items(center);
  background-color: black;
  background-image: url('../../../../assets/images/sidenav/cyt.jpg');
  @include background-size(cover);
  background-position: center 55%;
  @include flex();
  height: 100vh;
  @include justify-content(center);
  position: relative;
  width: 100vw;
  &::before {
    background-color: rgba(0, 0, 0, 0.336);
    content: '';
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
  }
  .login-card {
    max-width: 80%;
    padding: 40px 30px;
    mat-card-header {
      position: relative;
      .login {
        @include align-items(center);
        background-color: $accent;
        @include border-radius(3px);
        color: white;
        @include flex();
        font-weight: bold;
        height: 70px;
        @include justify-content(center);
        left: calc(50% - 100px);
        position: absolute;
        text-align: center;
        top: -78px;
        width: 200px;
        img {
          width: 54%;
        }
      }
    }
    mat-card-content {
      padding: 15px 0;
      text-align: center;
      .un-logo {
        display: block;
        margin: 20px auto;
        width: 100%;
      }
      .intro {
        font-size: 16px;
        margin-top: 50px;
      }
      .info {
        font-weight: bold;
        margin: 30px 0;
        .red-msg {
          color: #E80000;
        }
      }
    }
    mat-card-actions {
      text-align: center;
    }
  }
}
