<div class="content">
  <mat-card class="login-card animated fadeInDown">
    <mat-card-content>
      <img src="assets/images/login/bike-logo.jpeg" alt="Universidad Nacional" class="un-logo">
      <p class="intro">
        La cuenta con la que iniciaste sesión no pertenece al dominio UNAL.
      </p>
      <p class="info">
        Prueba cerrando las sesiones (gmail) activas en tu explorador.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/iniciar-sesion">ENTENDIDO</button>
    </mat-card-actions>
  </mat-card>
</div>