<div class="content">
  <div class="search-container">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Busca una ruta
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="full-width">
          <input type="text" matInput placeholder="Busca una ruta">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- <mat-card>
    </mat-card> -->
  </div>
  <mat-card class="exits-card">
    <h3 class="title">Escoger una salida</h3>
    <hr>
    <div class="exits-container">
      <div class="exit" matRipple>
        <span>Por el Uriel</span>
        <hr>
        <div class="stats">
          <app-icon-stat [data]="{tooltip:'Usuarios', icon:'person', number:25}" [small]="true"></app-icon-stat>
          <app-icon-stat [data]="{tooltip:'Rutas', icon:'trending_up', number:7}" [small]="true"></app-icon-stat>
        </div>
      </div>
      <div class="exit" matRipple>
        <span>Por la 53</span>
        <hr>
        <div class="stats">
          <app-icon-stat [data]="{tooltip:'Usuarios', icon:'person', number:5}" [small]="true"></app-icon-stat>
          <app-icon-stat [data]="{tooltip:'Rutas', icon:'trending_up', number:2}" [small]="true"></app-icon-stat>
        </div>
      </div>
      <div class="exit" matRipple>
        <span>Por la 26</span>
        <hr>
        <div class="stats">
          <app-icon-stat [data]="{tooltip:'Usuarios', icon:'person', number:30}" [small]="true"></app-icon-stat>
          <app-icon-stat [data]="{tooltip:'Rutas', icon:'trending_up', number:8}" [small]="true"></app-icon-stat>
        </div>
      </div>
      <div class="exit" matRipple>
        <span>Por la 45</span>
        <hr>
        <div class="stats">
          <app-icon-stat [data]="{tooltip:'Usuarios', icon:'person', number:42}" [small]="true"></app-icon-stat>
          <app-icon-stat [data]="{tooltip:'Rutas', icon:'trending_up', number:15}" [small]="true"></app-icon-stat>
        </div>
      </div>
    </div>
  </mat-card>
</div>
