<div class="content">
  <div class="search-container">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Encuentra una ruta más rápido
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="routeForm" *ngIf="routeForm">
          <ol>
            <li>
              <div class="form-control">
                <mat-form-field class="full-width">
                  <mat-select placeholder="Salida" formControlName="exit">
                    <mat-option [value]="null">
                      Ninguna
                    </mat-option>
                    <mat-option *ngFor="let option of sdService.exitPreference" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </li>
            <li>
              <div class="form-control">
                <mat-form-field class="full-width">
                  <mat-select placeholder="Destino" formControlName="destination">
                    <mat-option [value]="null">
                      Ninguna
                    </mat-option>
                    <mat-option *ngFor="let option of sdService.locations" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </li>
            <li>
              <mat-form-field class="full-width">
                <mat-chip-list #chipList>
                  <mat-chip 
                    *ngFor="let path of route; let j=index" 
                    [selectable]="selectable"
                    [removable]="true" 
                    (removed)="remove(j)"
                    color="primary"
                    [class.red-chip]="validateRoute()===j">
                    {{path}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input 
                    placeholder="Calles que sueles o planeas tomar"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="add($event,j)">
                </mat-chip-list>
              </mat-form-field>
              <p>
                Si tu búsqueda es <b>Cll 26 junto con Cra 30</b> debes tener en cuenta que encontrarás las rutas
                que entre sus caminos tienen <b>Cll 26</b> <b style="color: red"> o </b> <b>Cra 30</b>, mas no 
                <b>Cll 26</b> <b style="color: red"> y </b> <b>Cra 30</b>.
              </p>
            </li>
          </ol>
        </form>
        <button mat-raised-button color="primary" class="full-width" [disabled]="!isFormValid()" (click)="searchRoutes()">Buscar</button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-card class="exits-card">
    <h3 class="title">¿Por dónde saldrás hoy?</h3>
    <hr>
    <div class="exits-container">
      <div class="exit" matRipple (click)="find('Por el Uriel')">
        <span>Por el Uriel</span>
        <hr>
        <div class="stats">
          <app-icon-stat [data]="{tooltip:'Usuarios', icon:'person', number: 0}" [small]="true"></app-icon-stat>
          <app-icon-stat [data]="{tooltip:'Rutas', icon:'trending_up', number: exit1Data}" [small]="true"></app-icon-stat>
        </div>
      </div>
      <div class="exit" matRipple (click)="find('Por la 53')">
        <span>Por la 53</span>
        <hr>
        <div class="stats">
          <app-icon-stat [data]="{tooltip:'Usuarios', icon:'person', number: 0}" [small]="true"></app-icon-stat>
          <app-icon-stat [data]="{tooltip:'Rutas', icon:'trending_up', number: exit2Data}" [small]="true"></app-icon-stat>
        </div>
      </div>
      <div class="exit" matRipple (click)="find('Por la 26')">
        <span>Por la 26</span>
        <hr>
        <div class="stats">
          <app-icon-stat [data]="{tooltip:'Usuarios', icon:'person', number: 0}" [small]="true"></app-icon-stat>
          <app-icon-stat [data]="{tooltip:'Rutas', icon:'trending_up', number: exit3Data}" [small]="true"></app-icon-stat>
        </div>
      </div>
      <div class="exit" matRipple (click)="find('Por la 45')">
        <span>Por la 45</span>
        <hr>
        <div class="stats">
          <app-icon-stat [data]="{tooltip:'Usuarios', icon:'person', number: 0}" [small]="true"></app-icon-stat>
          <app-icon-stat [data]="{tooltip:'Rutas', icon:'trending_up', number: exit4Data}" [small]="true"></app-icon-stat>
        </div>
      </div>
    </div>
  </mat-card>
</div>
