@import '../../../../sass/mixin';
@import '../../../../sass/variables';

.content {
  @include align-items(center);
  @include flex();
  @include flex-direction(column);
  min-height: calc(100vh - 56px);
  @include justify-content(space-around);
  position: relative;
  width: 100%;
  .search-container {
    margin: 15px 0;
    text-align: center;
    width: 92%;
    p {
      text-align: left;
    }
    ol {
      padding-left: 20px;
    }
    .title {
      color: #464646;
      margin-bottom: 0;
    }
    .full-width {
      width: 90%;
      .red-chip {
        background-color: #fb4b4b;
      }
    }
  }
  .exits-card {
    height: 70vh;
    width: 92%;
    .title {
      margin: 0;
      text-align: center;
    }
  }
  .exits-container {
    @include align-items(center);
    @include flex();
    @include flex-wrap(wrap);
    height: 90%;
    @include justify-content(space-around);
    margin: 0 auto;
    position: relative;
    width: 94%;
    hr {
      margin: 5px 0 0;
      width: 30%;
    }
    &:before {
      background-image: url('../../../../assets/images/home/map.png');
      @include background-size(80% auto);
      background-position: center;
      background-repeat: no-repeat;
      content: '';
      height: 100%;
      opacity: .4;
      position: absolute;
      width: 100%;
      z-index: 0;
    }
    .exit {
      @include align-items(center);
      @include border-radius(5px);
      color: white;
      @include flex();
      @include flex-direction(column);
      height: 38%;
      @include justify-content(center);
      width: 42%;
      &:nth-child(1) {
        background-color: rgba(0, 107, 61, 0.719);
      }
      &:nth-child(2) {
        background-color: rgba(165, 0, 0, 0.719);
      }
      &:nth-child(3) {
        background-color: rgba(49, 121, 0, 0.7);
      }
      &:nth-child(4) {
        background-color: rgba(224, 142, 0, 0.74);
      }
      .stats {
        @include align-items(center);
        @include flex();
        @include justify-content(space-around);
        margin: 10% 0 0;
      }
    }
  }
}

.invitations {
  .invitation {
    margin-bottom: 10px;
    .header {
      @include align-items(center);
      @include flex();
      .profile-pic {
        @include border-radius(50%);
        @include background-size(cover);
        background-position: center;
        height: 50px;
        margin-right: 15px;
        width: 50px;
      }
    }
    .route-content {
      text-align: left;
      .capitalize {
        text-transform: capitalize;
      }
      .title {
        margin-bottom: 0;
        .material-icons {
          vertical-align: middle;
        }
        small {
          color: gray;
          font-weight: normal;
        }
      }
      .green {
        color: #008400;
      }
      .red {
        color: #bd0000;
        span {
          color: black;
        }
      }
      .blue {
        color: $accent;
        span {
          color: black;
        }
      }
      .yellow {
        color: #ab8700;
        .material-icons {
          margin-right: 4px;
        }
      }
    }
    .actions {
      text-align: right;
      button {
        margin-left: 10px;
      }
    }
  }
}
