<mat-card>
  <h3>
    Notas de la actualización <br>
    <small style="color: red">v1.2.0</small>
  </h3>
  <h4>¿Qué es lo nuevo?</h4>
  <ol>
    <li>
      <b>
        ¡Invita personas a tu ruta!
      </b>
    </li>
    <p>
      En la parte inferior derecha de la pantalla verás un botón con el ícono
      <i class="material-icons">group_add</i>. Al interactuar con él podrás buscar
      personas que podrían estar interesadas en tu ruta y así invitarlas a unirse.
    </p>
    <p>
      Ten en cuenta que para tener acceso a esta funcionalidad debes tener una ruta activa.
    </p>

    <li>
      <b>
        Ahora puedes personalizar tu foto de perfil
      </b>
    </li>
    <p>
      La foto de tu perfil es la foto que tienes en tu cuenta UNAL.
    </p>
    <p>
      Ahora puedes subir tu propia foto dando click sobre tu foto.
    </p>

    <li>
      <b>
        Nuevas entradas para las preferencias.
      </b>
    </li>
    <p>
      <b>Horarios de salida</b>: Ahora puedes seleccionar las horas en las que normalmente
      sales de clase o partes hacia tu destino, esto para dar una mejor información a los
      usuarios que deseen invitarte a unirte a sus rutas.
    </p>
    <p>
      <b>Rutas frecuentes</b>: Ahora puedes guardar las calles o carreras que acostumbras a
      utilizar, esto con el fin de agilizar la creación o búsqueda de rutas y también una mejor información a los
      usuarios que deseen invitarte a unirte a sus rutas.
    </p>

    <li>
      <b>
        Estamos trabajando en las notificaciones
      </b>
    </li>
    <p>
      En Redbi sabemos lo importante que son las notificaciones. Debido a su ausencia te recomendamos
      estar muy pendiente de la actividad en la aplicación.
    </p>
    <p>
      En un futuro esperamos poder enviar notificaciones en tu celular para mantenerte al tanto sobre
      la actividad en tus rutas.
    </p>
  </ol>
</mat-card>