@import '../../../../sass/mixin';
@import '../../../../sass/variables';

.stat {
  @include align-items(center);
  border: solid 1px white;
  @include border-radius(50%);
  @include flex();
  @include flex-direction(column);
  @include justify-content(center);
  margin: 0 5px;
  padding: 3px 24px;
  width: 44px;
}

.small-version {
  font-size: 12px;
  padding: 7px 0;
  .material-icons {
    font-size: 14px;
  }
}
